    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    
    html,
    body {
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        color: #000;
        background-color: #fff;
    }
    
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #e6e7ec;
        width: 100%;
        min-width: 1140px;
        min-height: 100%;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 12rem;
        margin-bottom: 1.25rem;
        padding: 0;
        background: url(../images/summer.jpg) no-repeat center;
        z-index: 2;
        background-size: 120rem 12rem;
    }
    
    .topBar-mainPage {
        display: flex;
        flex-direction: row;
        height: 3rem;
        width: 100%;
        justify-content: center;
        background-color: #5199D8CC;
    }
    
    .topBarRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 71.25rem;
    }
    
    .topBarRow .row {
        display: flex;
        align-items: center;
    }
    
    .topBarLogo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .topBarLogo img {
        width: 2.125rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
    
    .topBarCC98 {
        margin-right: 1rem;
    }
    
    .topBarCC98 a {
        font-size: 1.25rem;
        font-family: 微软雅黑;
        color: #fff;
    }
    
    .topBarText {
        font-size: 1rem;
        font-family: 微软雅黑;
        color: #fff;
        margin-right: 1rem;
    }
    
    .topBarUserInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .topBarUserImg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
    
    .topBarUserImg img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }
    
    .topBarUserName {
        display: flex;
        justify-content: center;
        width: 6rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem;
        font-family: 微软雅黑;
        color: #ffffff;
        cursor: pointer;
    }
    
    .topBarMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        font-size: 1.25rem;
        font-family: 微软雅黑;
        color: #ffffff;
        position: relative;
    }
    
    .topBarBell {
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: #6b7178;
        font-size: 1rem;
        color: #fff;
    }
    
    .topBarUserCenter-mainPage {
        display: block;
        transition-duration: 0.2s;
        height: 0px;
        overflow: hidden;
        position: absolute;
        top: 3rem;
        margin-left: 6rem;
        width: 6rem;
        z-index: 100;
        font-size: 0.875rem;
        color: #fff;
    }
    
    .topBarMessageDetails-mainPage {
        display: block;
        transition-duration: 0.2s;
        height: 0px;
        overflow: hidden;
        position: absolute;
        top: 3rem;
        width: 8rem;
        margin-left: -5rem;
        z-index: 100;
        font-size: 0.875rem;
        font-family: 微软雅黑;
        color: #fff;
    }
    
    .topBarMessageDetails-mainPage a {
        font-size: 0.875rem;
        font-family: 微软雅黑;
        color: white;
    }
    
    #search .box {
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        width: 33rem;
        border-radius: 0.625rem;
        align-items: center;
        background-color: #fff;
        padding: 0 1rem;
        margin-left: 1rem;
    }
    
    #search .searchBoxSelect {
        display: flex;
        width: 2rem;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #5198d8;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    #search .caret-down {
        display: flex;
        width: 1rem;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #5198d8;
    }
    
    #search input {
        outline-style: none;
        display: flex;
        border-width: 0;
        flex-grow: 1;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #5198d8;
        background-color: #fff;
    }
    
    #search .searchIco {
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #5198d8;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    #search .searchBoxSub {
        display: block;
        width: 2rem;
        margin-left: 2rem;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #fff;
        background-color: #5198d8;
        position: absolute;
        z-index: 1000;
    }
    
    .mainPage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 71.25rem;
        margin-bottom: 2.5rem;
        z-index: 0;
    }
    
    .leftPart {
        display: flex;
        flex-direction: column;
        width: 51.25rem;
        margin-right: 1.25rem;
    }
    
    .announcement {
        display: flex;
        flex-direction: column;
        width: 51.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .mainPageTitle1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;
        padding-left: 0.75rem;
        color: #5198d8;
    }
    
    .mainPageTitleRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    .mainPageTitleText {
        display: flex;
        margin-left: 0.5rem;
        font-size: 1rem;
    }
    
    .announcementContent {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        padding: 1rem 1.25rem;
        border-width: 8px 1px 1px 1px;
        border-style: solid;
        border-color: #5198d8;
        box-sizing: border-box;
        background-color: #fff;
    }
    
    .announcementContent article div {
        white-space: pre-wrap;
        width: 100%;
        display: block;
        font-size: 1rem;
        font-family: 微软雅黑;
    }
    
    .recommendedReading {
        display: flex;
        flex-direction: column;
        width: 51.25rem;
        margin-top: 0.75rem;
    }
    
    .mainPageTitle2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        padding-left: 0.75rem;
        color: #6b7178;
    }
    
    .recommendedReadingContent {
        display: flex;
        flex-direction: row;
        height: 7.5rem;
        margin-top: 1rem;
        padding: 1.25rem 1.25rem 0 1.25rem;
        border-width: 8px 1px 1px 1px;
        border-style: solid;
        border-color: #6b7178;
        box-sizing: border-box;
        background-color: #fff;
    }
    
    .recommendedReadingImage {
        display: flex;
        flex-direction: row;
        margin-right: 1.25rem;
    }
    
    .recommendedReadingImage img {
        border-radius: 50%;
        background-color: #6b7178;
        width: 3.75rem;
        height: 3.75rem;
        vertical-align: middle;
        border-style: none;
    }
    
    .recommendedReadingContent .column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .recommendedReadingTitle {
        display: block;
        max-width: 43.625rem;
        font-size: 1rem;
        font-family: 微软雅黑;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .recommendedReadingAbstract {
        display: block;
        max-width: 43.625rem;
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
        color: #6b7178;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .recommendedReadingButtons {
        display: flex;
        height: 0.625rem;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .recommendedReadingButtonSelected {
        width: 0.625rem;
        height: 0.625rem;
        margin: 0 0.25rem;
        border-style: solid;
        border-color: #fb6165;
        border-width: 1px;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: #fb6165;
    }
    
    .recommendedReadingButton {
        width: 0.625rem;
        height: 0.625rem;
        margin: 0 0.25rem;
        border-style: solid;
        border-color: #6b7178;
        border-width: 1px;
        border-radius: 50%;
        box-sizing: border-box;
    }
    
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mainPageList {
        display: flex;
        flex-direction: column;
        width: 25rem;
        margin-top: 2rem;
    }
    
    .mainPageListContent1 {
        display: flex;
        flex-direction: column;
        height: 20rem;
        margin-top: 1rem;
        padding: 1rem 1.25rem 0.5rem;
        border-width: 8px 1px 1px 1px;
        border-style: solid;
        border-color: #5198d8;
        box-sizing: border-box;
        background-color: #fff;
    }
    
    .mainPageListRow {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 2rem;
        align-content: center;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .mainPageBoardName {
        margin-right: 0.375rem;
        font-size: 0.75rem;
        color: #5198d8;
    }
    
    .mainPageListTitle {
        flex-grow: 1;
        font-size: 0.75rem;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 微软雅黑;
    }
    
    .mainPageTitle2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        font-family: 微软雅黑;
        padding-left: 0.75rem;
        color: #6b7178;
    }
    
    .mainPageListContent2 {
        display: flex;
        flex-direction: column;
        height: 20rem;
        margin-top: 1rem;
        padding: 1rem 1.25rem 0.5rem;
        border-width: 8px 1px 1px 1px;
        border-style: solid;
        border-color: #6b7178;
        box-sizing: border-box;
        background-color: #fff;
    }
    
    .rightPart {
        display: flex;
        flex-direction: column;
        width: 18.75rem;
    }
    
    .recommendedFunction {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0.75rem;
    }
    
    .recommendedFunctionContent {
        display: flex;
        flex-direction: column;
        height: 21.25rem;
        margin-top: 1rem;
        padding: 1rem 1.25rem;
        box-sizing: border-box;
        background-color: #5198d8;
    }
    
    .recommendedFunctionRow {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 4rem;
        align-items: center;
    }
    
    .recommendedFunctionImage {
        margin-right: 1.25rem;
    }
    
    .recommendedFunctionImage img {
        border-radius: 50%;
        width: 3.125rem;
        height: 3.125rem;
    }
    
    .recommendedFunctionTitle {
        flex-grow: 1;
        font-size: 1rem;
        font-family: 微软雅黑;
        color: #fff;
    }
    
    .schoolNews {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }
    
    .schoolNewsContent {
        display: flex;
        flex-direction: column;
        height: 20rem;
        margin-top: 1rem;
        padding: 0.5rem 1.25rem 1rem 1.25rem;
        box-sizing: border-box;
        background-color: #6b7178;
    }
    
    .schoolNewsRow {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 2rem;
    }
    
    .schoolNewsTitle {
        flex-grow: 1;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .advertisement {
        position: relative;
        width: 18.75rem;
        height: 6.25rem;
    }
    
    .advertisementImage img {
        width: 18.75rem;
        height: 6.25rem;
        vertical-align: middle;
        border-style: none;
    }
    
    .adButtons {
        display: flex;
        width: 16rem;
        height: 0.625rem;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        left: 50%;
        margin-left: -8rem;
        bottom: 0.25rem;
    }
    
    .adButtonSelect {
        width: 0.625rem;
        height: 0.625rem;
        margin: 0 0.25rem;
        border-style: solid;
        border-color: rgba(225, 0, 225, 0.5);
        border-width: 1px;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: rgba(225, 0, 225, 0.5);
    }
    
    .adButton {
        width: 0.625rem;
        height: 0.625rem;
        margin: 0 0.25rem;
        border-style: solid;
        border-color: rgba(225, 225, 225, 0.5);
        border-width: 1px;
        border-radius: 50%;
        box-sizing: border-box;
    }
    
    .mainPageCount {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }
    
    .mainPageCountContent {
        display: flex;
        flex-direction: column;
        height: 14rem;
        margin-top: 1rem;
        padding: 0.5rem 1.25rem 1rem 1.25rem;
        box-sizing: border-box;
        background-color: #5198d8;
    }
    
    .mainPageCountRow {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 2rem;
        justify-content: space-between;
        margin: 0;
    }
    
    .mainPageCountTitle {
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #fff;
    }
    
    .miniProgram {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .miniProgramCode {
        margin-top: 1rem;
    }
    
    .miniProgramCode img {
        width: 100%;
        vertical-align: middle;
        border-style: none;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;
        padding-top: 15px;
        width: 100%;
        min-width: 1140px;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }
    
    .footerRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #808080;
        margin-bottom: 15px;
    }
    
    .blogroll {
        margin-right: 15px;
        color: #000;
    }
    
    .footerRow a {
        font-size: 0.75rem;
        font-family: 微软雅黑;
        color: #808080;
        margin-left: 10px;
        margin-right: 10px;
    }
